.page-header {
  background: $color-pure-white;
  padding: 55px  100px 55px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $font-open-sans;
  overflow: hidden;
  height: 150px;

  @include media('<xl') {
    flex-direction: column;
  }

  @include media('<md') {
    padding: 20px;
  }

  &-logo {
    height: 41px;
    width: 250px;
    margin: 13px 0 0 0;
    z-index: 10;

    @include media('<xl') {
      width: 220px;
    }
  }

  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    & a {
      margin: 0 5px;
      transition: 0.1s ease-in-out;
      z-index: 10;
      
      &:hover {
        color: $color-salomion;
      }
    }
  }

  &-leafs {
    position: absolute;
    top: -180px;
    left: -322px;
  }
}

.navigation {
  $nav: &;
  transform: translateX(550px);
  transition: 0.2s all;
  z-index: 11;
  position: fixed;

  @include media('<xl') {
    top: 0px;
    right: 0px;
  }

  & ul {
    display: flex;
    flex-direction: row;
    
    @include media('<xl') {
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      margin: 0px;
      background: #b5b5b5;
    }

    & li {
      @include media('<xl') {
        padding: 10px 10px 10px 0;
      }
    }
  }

  &-active {
    position: relative;
    transform: translateX(0px);
    overflow: hidden;

    @include media('<xl') {
      position: fixed;
      top: 0px;
      right: 0px;
    }
  }
}
